-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "tipo_pagamento" AS ENUM ('PIX', 'CARTAO', 'DINHEIRO');

-- CreateTable
CREATE TABLE "atendimentos" (
    "atendimento_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "servico_id" UUID NOT NULL,
    "valor_atendimento" DECIMAL(10,2) NOT NULL,
    "metodo_pagamento" "tipo_pagamento" NOT NULL,
    "criado_em" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "atendimentos_pkey" PRIMARY KEY ("atendimento_id")
);

-- CreateTable
CREATE TABLE "servicos" (
    "servico_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nome_servico" VARCHAR(80) NOT NULL,
    "valor_servico" DECIMAL(10,2) NOT NULL,

    CONSTRAINT "servicos_pkey" PRIMARY KEY ("servico_id")
);

-- CreateIndex
CREATE UNIQUE INDEX "servicos_nome_servico_key" ON "servicos"("nome_servico");

-- AddForeignKey
ALTER TABLE "atendimentos" ADD CONSTRAINT "atendimentos_servico_id_fkey" FOREIGN KEY ("servico_id") REFERENCES "servicos"("servico_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

